################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.bak
/.zip
/ReportFailingTests/.zip
/ReportFailingTests/718b155e-b7bc-4400-83fa-a49a16579e02.zip
.idea/